<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.hsm.justdoit">

    <!--camera2使用到的权限-->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- 读写文件的权限 -->
    <uses-permission
        android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name="com.sw0039.justdoit.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.sw0039.justdoit.FirstActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 第二章的部分 -->
        <activity android:name="com.sw0039.justdoit.chapters02.TestMenuActivity" />
        <activity android:name="com.sw0039.justdoit.chapters02.TestEventsActivity" />
        <activity android:name="com.sw0039.justdoit.chapters02.fragments.TestFragmentActivity" />
        <activity android:name="com.sw0039.justdoit.chapters02.Chapter02Activity" />
        <activity android:name="com.sw0039.justdoit.chapters02.CodeViewActivity" />
        <activity android:name="com.sw0039.justdoit.chapters02.CustomViewActivity" />
        <activity android:name="com.sw0039.justdoit.chapters02.ImageViewActivity" />
        <activity android:name="com.sw0039.justdoit.chapters02.AbsoluteLayoutTest" />
        <activity android:name="com.sw0039.justdoit.chapters02.FrameLayoutTest" />
        <activity android:name="com.sw0039.justdoit.chapters02.GridLayoutTest" />
        <activity android:name="com.sw0039.justdoit.chapters02.LinearLayoutTest" />
        <activity android:name="com.sw0039.justdoit.chapters02.RelativeLayoutTest" />
        <activity android:name="com.sw0039.justdoit.chapters02.TableLayoutTest" />
        <activity android:name="com.sw0039.justdoit.chapters02.ButtonTest" />
        <activity android:name="com.sw0039.justdoit.chapters02.CheckButtonTest" />
        <activity android:name="com.sw0039.justdoit.chapters02.ChronometerTest" />
        <activity android:name="com.sw0039.justdoit.chapters02.ClockTest" />
        <activity android:name="com.sw0039.justdoit.chapters02.InputUI" />
        <activity android:name="com.sw0039.justdoit.chapters02.NinePatchTest" />
        <activity android:name="com.sw0039.justdoit.chapters02.TextViewTest" />
        <activity android:name="com.sw0039.justdoit.chapters02.TextViewTest2" />
        <activity android:name="com.sw0039.justdoit.chapters02.ToggleButtonTest" />
        <activity android:name="com.sw0039.justdoit.chapters02.ImageButtonTest" />
        <activity android:name="com.sw0039.justdoit.chapters02.ImageViewTest" />
        <activity android:name="com.sw0039.justdoit.chapters02.QuickContactBadgeTest" />
        <activity android:name="com.sw0039.justdoit.chapters02.AdapterViewFlipperTest" />
        <activity android:name="com.sw0039.justdoit.chapters02.ArrayAdapterTest" />
        <activity android:name="com.sw0039.justdoit.chapters02.AutoCompleteTextViewTest" />
        <activity android:name="com.sw0039.justdoit.chapters02.BaseAdapterTest" />
        <activity android:name="com.sw0039.justdoit.chapters02.ExpandableListViewTest" />
        <activity android:name="com.sw0039.justdoit.chapters02.ListActivityTest" />
        <activity android:name="com.sw0039.justdoit.chapters02.SimpleAdapterTest" />
        <activity android:name="com.sw0039.justdoit.chapters02.SimpleListViewTest" />
        <activity android:name="com.sw0039.justdoit.chapters02.SpinnerTest" />
        <activity android:name="com.sw0039.justdoit.chapters02.StackViewTest" />
        <activity android:name="com.sw0039.justdoit.chapters02.actionbars.ProgressBarTest" />
        <activity android:name="com.sw0039.justdoit.chapters02.actionbars.RatingBarTest" />
        <activity android:name="com.sw0039.justdoit.chapters02.actionbars.SeekBarTest" />
        <activity android:name="com.sw0039.justdoit.chapters02.actionbars.TitleProgressBar" />
        <activity android:name="com.sw0039.justdoit.chapters02.actionbars.AnimationDrawableActivity" />
        <activity android:name="com.sw0039.justdoit.chapters02.events.MainActivity" />
        <activity android:name="com.sw0039.justdoit.chapters02.events.SendSmsActivity" />
        <activity android:name="com.sw0039.justdoit.chapters02.ImageSwitcherTest" />
        <activity android:name="com.sw0039.justdoit.chapters02.TextSwitcherTest" />
        <activity android:name="com.sw0039.justdoit.chapters02.ViewFlipperTest" />
        <activity android:name="com.sw0039.justdoit.chapters02.ViewSwitcherTest" />
        <activity android:name="com.sw0039.justdoit.chapters02.CalendarViewTest" />
        <activity android:name="com.sw0039.justdoit.chapters02.ChooseDate" />
        <activity android:name="com.sw0039.justdoit.chapters02.NotificationTest" />
        <activity android:name="com.sw0039.justdoit.chapters02.OtherActivity" />
        <activity android:name="com.sw0039.justdoit.chapters02.NumberPickerTest" />
        <activity android:name="com.sw0039.justdoit.chapters02.ScrollViewTest" />
        <activity android:name="com.sw0039.justdoit.chapters02.SearchViewTest" />
        <activity android:name="com.sw0039.justdoit.chapters02.TabHostTest" />
        <activity android:name="com.sw0039.justdoit.chapters02.ToastTest" />
        <activity android:name="com.sw0039.justdoit.chapters02.AlertDialogTest" />
        <activity android:name="com.sw0039.justdoit.chapters02.DateDialogTest" />
        <activity android:name="com.sw0039.justdoit.chapters02.DialogTheme" />
        <activity android:name="com.sw0039.justdoit.chapters02.PopupWindowTest" />
        <activity android:name="com.sw0039.justdoit.chapters02.ProgressDialogTest" />
        <activity android:name="com.sw0039.justdoit.chapters02.menus.ActivityMenu" />
        <activity android:name="com.sw0039.justdoit.chapters02.menus.ContextMenuTest" />
        <activity android:name="com.sw0039.justdoit.chapters02.menus.MenuResTest" />
        <activity android:name="com.sw0039.justdoit.chapters02.menus.MenuTest" />
        <activity android:name="com.sw0039.justdoit.chapters02.menus.PopupMenuTest" />
        <activity android:name="com.sw0039.justdoit.chapters02.ActionBar_DropDownNav" />
        <activity android:name="com.sw0039.justdoit.chapters02.ActionBar_SwipeNav" />
        <activity android:name="com.sw0039.justdoit.chapters02.TestActionBarActivity" />
        <activity android:name="com.sw0039.justdoit.fours_zujian.HSScreanActivity" />
        <activity android:name="com.sw0039.justdoit.fours_zujian.FoursSubActivity" />
        <activity android:name="com.sw0039.justdoit.questions.AllQuestionsActivity" />
        <activity android:name="com.sw0039.justdoit.questions.JsonErrorActivity" />
        <activity android:name="com.sw0039.justdoit.QuickContactBadgeActivity" />
        <activity android:name="com.sw0039.justdoit.SearchViewActivity" />
        <activity android:name="com.sw0039.justdoit.MenuActivity" />
        <activity android:name="com.sw0039.justdoit.BaseCenterTextActivity" />
        <activity android:name="com.sw0039.justdoit.fours_zujian.IntentActivity" />
        <activity android:name="com.sw0039.justdoit.questions.JavaCirculateDoubleActivity" />
        <activity android:name="com.sw0039.justdoit.fours_zujian.IntentChildActivity" />
        <activity android:name="com.sw0039.justdoit.fours_zujian.LaunchModeActivity" />
        <!-- intent的使用实例 -->
        <activity android:name="com.sw0039.justdoit.fours_zujian.intents.ActionAttr.MainActivity" />
        <activity android:name="com.sw0039.justdoit.fours_zujian.intents.ActionAttr.SecondActivity">
            <intent-filter>

                <!-- 指定该Activity能响应Action为指定字符串的Intent -->
                <action android:name="org.crazyit.intent.action.CRAZYIT_ACTION" />
                <!-- 指定该Activity能响应Action属性为helloWorld的Intent -->
                <action android:name="helloWorld" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="com.sw0039.justdoit.BaseBtnTextActivity" />

        <!-- 测试intent的测试规则 -->
        <activity android:name="com.sw0039.justdoit.fours_zujian.TestIntentChildActivity">

            <!-- 操作的规则测试 -->
            <!-- 1,要通过此过滤器，您在 Intent 中指定的操作必须与过滤器中列出的某一操作匹配。 -->
            <!--
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.EDIT" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <action android:name="@string/intent_test_action" />
                <data android:mimeType="image/*"
                    android:scheme="http"
                    android:host="www.baidu.com"
                    android:port="8080"
                    android:path="/sdcard/hsm/"
                    />
            </intent-filter>
            -->
            <!--
                2,3,如果该过滤器未列出任何操作，则 Intent 没有任何匹配项，因此所有 Intent 均无法通过测试。
                但是，如果 Intent 未指定操作，则会通过测试（只要过滤器至少包含一个操作）。
            -->
            <!--
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="image/*"
                    android:scheme="http"
                    android:host="www.baidu.com"
                    android:port="8080"
                    android:path="/sdcard/hsm/" />
            </intent-filter>
            -->


            <!-- 类型的规则测试 -->
            <!-- 1,若要使 Intent 通过类别测试，则 Intent 中的每个类别均必须与过滤器中的类别匹配。 -->
            <!--
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:mimeType="image/*"
                    android:scheme="http"
                    android:host="www.baidu.com"
                    android:port="8080"
                    android:path="/sdcard/hsm/" />
            </intent-filter>
            -->
            <!-- 2,反之则未必然，Intent 过滤器声明的类别可以超出 Intent 中指定的数量，且 Intent 仍会通过测试。 -->
            <!-- 3,因此，不含类别的 Intent 应当始终会通过此测试，无论过滤器中声明何种类别均是如此。 -->
            <!--
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.APP_EMAIL" />
                <data android:mimeType="image/*"
                    android:scheme="http"
                    android:host="www.baidu.com"
                    android:port="8080"
                    android:path="/sdcard/hsm/" />
            </intent-filter>
            -->


            <!-- 数据的规则测试 -->
            <!-- 1,若要使 Intent 通过类别测试，则 Intent 中的每个类别均必须与过滤器中的类别匹配。 -->
            <!--
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            -->
            <!--
                2,对于包含 URI 但不含 MIME 类型（既未显式声明，也无法通过 URI 推断得出）的 Intent，仅当其 URI 与过滤器的 URI 格式匹配、
                  且过滤器同样未指定 MIME 类型时，才会通过测试。
            -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="www.baidu.com"
                    android:scheme="http" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.sw0039.justdoit.questions.ScrollviewListviewActivity"
            android:theme="@style/activity_dialog" />
        <activity
            android:name="com.sw0039.justdoit.questions.ScrollviewListview1Activity"
            android:theme="@style/activity_dialog" />
        <activity android:name="com.sw0039.justdoit.questions.RMBSymbolActivity" />
        <activity
            android:name="com.sw0039.justdoit.chapters02.fragments.savedata.ConfigChangesTestActivity"
            android:configChanges="screenSize|orientation" />
        <activity android:name="com.sw0039.justdoit.chapters02.fragments.savedata.FixProblemsActivity" />
        <activity android:name="com.sw0039.justdoit.chapters02.fragments.savedata.FragmentRetainDataActivity" />
        <activity android:name="com.sw0039.justdoit.chapters02.fragments.savedata.HomeActivity" />
        <activity android:name="com.sw0039.justdoit.chapters02.fragments.savedata.SavedInstanceStateUsingActivity" />
        <activity android:name="com.sw0039.justdoit.shape_drawables.ShareDrawableActivity" />
        <activity android:name="com.sw0039.justdoit.shape_drawables.ShapeDrawableTest" />
        <activity android:name="com.sw0039.justdoit.shape_drawables.ClipDrawableTest" />
        <activity android:name="com.sw0039.justdoit.shape_drawables.AnimationDrawable" />
        <activity android:name="com.sw0039.justdoit.shape_drawables.AttributeAnimDrawable" />
        <activity android:name="com.sw0039.justdoit.shape_drawables.XmlResTest" />
        <activity android:name="com.sw0039.justdoit.shape_drawables.AttrResTest" />
        <activity android:name="com.sw0039.justdoit.deal_bitmaps.BitmapTest" />
        <activity android:name="com.sw0039.justdoit.deal_bitmaps.DealBitmapActivity" />
        <activity android:name="com.sw0039.justdoit.deal_bitmaps.CanvasTest" />
        <activity android:name="com.sw0039.justdoit.deal_bitmaps.PathTest" />
        <activity android:name="com.sw0039.justdoit.deal_bitmaps.HandDraw" />
        <activity android:name="com.sw0039.justdoit.deal_bitmaps.PathSaveRestoreTest" />
        <activity android:name="com.sw0039.justdoit.deal_bitmaps.PathText" />
        <activity android:name="com.sw0039.justdoit.deal_bitmaps.PinBall" />
        <activity android:name="com.sw0039.justdoit.deal_bitmaps.ShaderTest" />
        <activity android:name="com.sw0039.justdoit.deal_bitmaps.FatPo" />
        <activity android:name="com.sw0039.justdoit.deal_bitmaps.TweenAnim" />
        <activity android:name="com.sw0039.justdoit.deal_bitmaps.Butterfly" />
        <activity android:name="com.sw0039.justdoit.deal_bitmaps.ListViewTween" />
        <activity android:name="com.sw0039.justdoit.deal_bitmaps.SurfaceViewTest" />
        <activity android:name="com.sw0039.justdoit.deal_bitmaps.ShowWave" />
        <activity android:name="com.sw0039.justdoit.anims.TestAnimationActivity" />
        <activity android:name="com.sw0039.justdoit.anims.FrameAnimation" />
        <activity android:name="com.sw0039.justdoit.anims.TweenAnimation" />
        <activity android:name="com.sw0039.justdoit.anims.ObjectAnimationActivity" />
        <activity android:name="com.sw0039.justdoit.anims.ValueAnimationActivity" />
        <activity android:name="com.sw0039.justdoit.anims.CodeObjectAnimActivity" />
        <activity android:name="com.sw0039.justdoit.anims.XMLAnimatorActivity" />
        <activity android:name="com.sw0039.justdoit.questions.address_selector.ShowAddressSelectorActivity" />
        <activity android:name="com.sw0039.justdoit.questions.checkboxs.TestCheckBoxActivity" />
        <activity android:name="com.sw0039.justdoit.io.TestFileActivity" />
        <activity android:name="com.sw0039.justdoit.io.TestIOActivity" />
        <activity android:name="com.sw0039.justdoit.android_8.TestAndroid8TXActivity" />
        <activity android:name="com.sw0039.justdoit.io.TestDBActivity" />
        <activity android:name="com.sw0039.justdoit.io.TestTTSActivity" />
        <activity android:name="com.sw0039.justdoit.devices.TestDevicesActivity"></activity>
        <activity android:name="com.sw0039.justdoit.devices.CameraActivity"></activity>
    </application>

</manifest>